*{
  background-color: lightgreen;
}
.red{
  color: red;
}
.container{
  width: 500px;
  height: 600px;
  background-color: pink;
  margin: auto;
}
h1{
  font-size: 40px;
  color: blue;
}
li{
  margin-bottom: 10px;
}
i, button{
  margin-left: 10px;
  cursor: pointer;
}
i:hover{
  color: red;
}
